* {
    margin: 0;
    padding: 0;
    background-color: #101010;
}

/* NAVBAR */

/* background color for top nav */


.topNav {
    background-color: #202020;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topNav a {
    display: block;
    float: left;
}

.nav-text a {
    padding: 20px 20px;
    display: block;
    float: left;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Rajdhani', sans-serif;
    background-color: #202020;
    font-weight: bold;
}

.topNav .logo-nav img {
    padding: 0px 0px;
    height: 60px;
}

.topNav img {
    height: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #202020;
    padding: 20px;
    
}

.nav-img {
    float: right;
    height: 60px;
    background-color: #202020;
}

.nav-img a {
    float: right;
    height: 20px;
}

/* change color of links on hover */
.topNav a:hover {
    /* background-color: #ddd; */
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    text-decoration-line: underline;
}

/* add an active class to highlight current page */
.topNav a.active {
    color:red;
    text-shadow: 2px 2px 4px #760828;
}
/* Hide the hamburger menu for large screens */
.topNav .icon {
    display: none;
    font-size: 17px;
}

.topNav a:not(:first-child) {
    text-shadow: 2px 2px 4px #760828;
}

.fa-bars {
    padding: 0px 10px;
    background-color: #202020;
}



/* When the screen is less than 1000px wide, hide all links except hamburger menu */
@media screen and (max-width: 850px) {
    .nav-text a:not(:first-child) {display: none;}
    .nav-img a {display: none;}
    .topNav a.icon {
        float: right;
        display: block;
    }

    html .ticker-wrap {
        display: none
    }    
    
    html, body {
        max-width: 100%;    
        overflow-x: hidden;
    }

    iframe {
        width: 100%;
        height: 210px;
        display: flex;
        align-self: flex-end;
        border-top: 1px solid red;
    }
        
    main .sotd-headline {
        width: 100%;
    }
        
    .sotd-header {
        display: flex;
        justify-content: start;
    }
        
    .video-container {
        position: relative;
        overflow: hidden;
        height: 817px;
        background-image: url(beetroots.png);
        background-position: center top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        opacity: 0.8;
    }

    .mb-review {
        width: 100%;
        height: 265px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    

    main .mb-review-container {
        width: 100%;
        height: 265px;
        border: 1px solid red;
        border-top: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #sotd-date {
        background-color: white;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.5em;
        padding: 0 0px 0 0;
        color: purple;
    }

    /* Grid of links */
    html .grid-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px;
    }

    html .grid {
        width: 375px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    html .grid img {
        width: 375px;
    }

    html .grid-item {
        width: 375px;
        height: 375px;
        padding: 0px;
        text-align: center;
    }
    
    /* MOBILE FOOTER */

    .footer-container {
        height: auto;
        width: 100%;
        display: flex;
        flex-flow: row;
        flex-direction: row;
        justify-content: space-around;
        background-color: black;
        padding-top: 20px;
    }
    
    .blurb {
        display: none;
    }
    
    .center-socials {
        width: 400px;
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    
    .center-socials h2 {
        background-color: black;
        color:red;
        text-shadow: 2px 2px 4px #760828;
        font-family: 'Rajdhani', sans-serif;
    }
    
    .center-socials h4 {
        background-color: black;
        color:#f2f2f2;
        font-family: 'Rajdhani', sans-serif;
    }
    
    .center-socials h4, h2 {
        margin-left: 32px;
    }
    
    .center-socials li {
        list-style-type: none;
    }
    
    .all-social-links {
        display: flex;
        background-color: black;
    }
    
    .all-social-links a {
        display: flex;
        background-color: black;
    }
    
    
    
    footer .all-social-links img {
        height: 70px;
        padding: 0px 5px;
        background-color: black;
    }
    
    .all-social-links img:hover {
            opacity: 0.6;
            transition: 0.3s;
            cursor: pointer;
            text-decoration-line: underline;
    }
    
    .footer-bottom-admin {
        width: 100%;
        display: inline-block;
        text-align: center;
        background-color: black;
    }
    
    footer .footer-bottom-list li {
        display: inline-block;
        text-decoration: none;
        color: #f2f2f2;
        font-family: 'Rajdhani', sans-serif;
        padding: 5px 5px;
        background-color: black;
    
    }
    
    .footer-bottom-list {
        background-color: black;
    }
    
    .footer-bottom-list a {
        background-color: black;
    }
    
    .footer-bottom-list a:visited, a:link {
        color: #f2f2f2;
        text-decoration: none;
        
    }
    
    .footer-bottom-list a:hover {
        opacity: 0.6;
        transition: 0.3s;
        cursor: pointer;
        text-decoration-line: underline;
    }

}


/* END RESPONSIVE DESIGN */
/* END RESPONSIVE DESIGN */
/* END RESPONSIVE DESIGN */



/* Responsive class added to topnav with Javascript when user clicks. Topnav looks better on small screens (vertically) */
@media screen and (max-width: 850px) {
    .topNav.responsive {position: relative;}
    .topNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .sotd-container {
        width: 100%;
        text-align: center;
        font-size: 1em;
    }

    html .sotd-container h1 {
        text-transform: uppercase;
        font-family: 'Orbitron', sans-serif;
        color: #9d2236;;
        background-color: white;
        width: 549.75px;
        text-align: left;
        padding: 0 0 0 0px;
        font-size: 2rem;
    }

    .sotd-header {
        display: flex;
        justify-content: start;
    }

    #sotd-date {
        background-color: white;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.5em;
        padding: 0 0px 0 0;
        color: purple;
    }

    /* Grid of links */
    html .grid-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px;
    }

    html .grid {
        width: 375px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    html .grid img {
        width: 375px;
    }

    html .grid-item {
        width: 375px;
        height: 375px;
        padding: 0px;
        text-align: center;
    }
}

/* END OF TOPNAV REPSONSIVE */
/* END OF TOPNAV REPSONSIVE */
/* END OF TOPNAV REPSONSIVE */


/* Header */

/* scrolling ticker */
.t-container {
    width: 100%;
    overflow: hidden; 
/* Hide scroll bar */
}

.ticker-wrap {
    width: 100%;
    padding-left: 100%;
    /* pushes contents to the right side of the screen */
    background-color: #101010;
    color: #f2f2f2;
    text-transform: uppercase;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: arial;
    font-size: 12px;
    padding: 20px 0px;
    border: 1px solid #760828;
    border-style: solid none;
}

@keyframes ticker {
    0% {transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0);}
}

.ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 230s;
    background-color: #101010;
}

.ticker-move:hover {
    animation-play-state: paused;
    /* Pause scroll on mouse hover */
}

.ticker-item {
    display: inline-block;
    /* lay items in a horiztonal line */
    padding: 0 1rem;
    background-color: #101010;
}

/* Main */

/* sotd */
.video-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
        overflow: hidden;
        height: 145vh;
        background-image: url(beetroots.png);
        background-position: center top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        opacity: 0.8;
}

.sotd-container {
    text-align: center;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* SOTD H1 HEADING */
.sotd-headline {
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    color: red;
    text-shadow: 2px 2px 4px #9d2236;
    width: 80%;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #760828;
    padding: 20px 0px;
}

/* <div class="mb-review">
            <div class="mb-review-container">
                <div class="mb-box"></div>
                <div class="mb-box2"></div>
            </div>
        </div> */

.mb-review {
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;
        }
        

.mb-review-container {
    width: 80%;
    height: 300px;
    border: 1px solid #760828;
    border-top: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mb-box {
    height: 300px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.mb-box2 {
    height: 100%;
    width: 400px;
    border: 1px solid #760828;
}


#sotd-date {
    background-color: white;
    font-family: 'Orbitron', sans-serif;;
    font-size: 3rem;
    padding: 0 0 0 0;
    color: #9d2236;
}

#countdown {
    color: black;
    display: flex;
    justify-content: flex-end;
    background: white;
    font-size: 3rem;
    color: #9d2236;
    font-family: 'Orbitron', sans-serif;
}

/* Grid of links */
.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 100px 0px;
}

.grid {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid blue;

}

.grid-item {
    width: 33%;
    height: 600px;
    position: relative;
    text-align: center;
    border: 1px solid #760828;
}

.grid-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.grid-item:hover {
    opacity: 0.9;
    transition: 1.0s;
    cursor: pointer;
    transform: scale(1.04);
}

.grid-text {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2rem;
    background-color: transparent;
    text-shadow: 1px 1px grey;
}



/* FOOTER */
/* FOOTER */
/* FOOTER */



.footer-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    padding-top: 20px;
}

.blurb {
    color:red;
    text-shadow: 2px 2px 4px #760828;
    font-family: 'Rajdhani', sans-serif;
    width: 400px;
    background-color: black;
    text-align: right;
}

.center-socials {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.center-socials h2 {
    background-color: black;
    color:red;
    text-shadow: 2px 2px 4px #760828;
    font-family: 'Rajdhani', sans-serif;
}

.center-socials h4 {
    background-color: black;
    color:#f2f2f2;
    font-family: 'Rajdhani', sans-serif;
}

.center-socials h4, h2 {
    margin-left: 32px;
}

.center-socials li {
    list-style-type: none;
}

.all-social-links {
    display: flex;
    background-color: black;
}

.all-social-links a {
    display: flex;
    background-color: black;
}



.all-social-links img {
    height: 70px;
    padding: 0px 5px;
    background-color: black;
}

.all-social-links img:hover {
        opacity: 0.6;
        transition: 0.3s;
        cursor: pointer;
        text-decoration-line: underline;
}

.footer-bottom-admin {
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: black;
}

.footer-bottom-list li {
    display: inline-block;
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Rajdhani', sans-serif;
    padding: 30px 5px;
    background-color: black;

}

.footer-bottom-list {
    background-color: black;
}

.footer-bottom-list a {
    background-color: black;
}

.footer-bottom-list a:visited, a:link {
    color: #f2f2f2;
    text-decoration: none;
    
}

.footer-bottom-list a:hover {
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    text-decoration-line: underline;
}


























/* // SOTD PAGE WEEK ARCHIVE */

.w3-container {
    width: 100%;
}

html .mySlides {
    display: inline-block;
    flex-direction: row;
    width: 100%;
}


html .w3-left, .w3-right, .w3-badge {
    cursor:pointer;
    background-color: transparent;
}

html .w3-badge {
    height:13px;width:13px;padding:0
}


.frames {
    width: 100%;
    height: 100%;
    display: flex;
}

.guest {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.review {
    border: 1px solid yellow;
    width: 50%;
    height: 600x;
}

html .w3-display-bottommiddle {
    background-color: transparent;
}

.w3-left {
    height: 100%;
}

/* section .sotd-video-box {
    width: 400px;
    height: auto;
}

section .sotd-day {
    height: 100px;
    width: 100px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.sotd-month {
    color: #1e1e1e;
    text-align: center;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    background-color: lightgrey;
}

section .sotd-selector {
    height: 400px;
    width: 400px;
    border: 1px solid yellow;
} */















/* Contact Page */

/* Style the inputs */
input[type=text], select, textarea {
    width: 100%;
    height: auto;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Style submit button */
input[type=submit] {
    background-color: #4CaF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* when moving the mouse over submit, darker green */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add background color and padding */
.contact-container {
    border-radius: 5px;
    width: 500px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 80vh;
}

.menacing-contact-logo {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}















/* Venues */
/* Venues */
/* Venues */
/* Venues */
/* Venues */
/* Venues */
/* Venues */


.venue-header-container {
    position: relative;
}

.venue-header-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%
}

.pending-bottom-right {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
}

.pending {
    color: #f2f2f2;
    font-size: 34px;
    font-family: 'Rajdhani', sans-serif;
    background-color: transparent;

}

.venues-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.venue-flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #101010;
    justify-content: center;
    margin: 50px 0px;
    align-items: center;
    width: 100%;
}

.venue-flex-item {
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: red;
    text-shadow: 2px 2px 4px #760828;
    font-family: 'Rajdhani', sans-serif;

}

.venue-flex-item img {
    height: 100%;
    max-width: auto;
    display: block;
    filter: grayscale();
    margin-left: 0px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .9s ease-in-out;
	transition: .9s ease-in-out;

}

.venue-flex-item img:hover {
    opacity: 1;
    cursor: pointer;
    /* transform: scale(1.10);
    transition: 0.3s; */
    filter: none;
}

.venue-flex-item:hover img {
    margin-left: -60px;
}

.centered {
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
}
